.menu-container {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.25); }

.main-container {
  width: 100%;
  min-height: 100vh;
  background: url("/assets/images/add-form.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden; }

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas: ". ."  "f ." "f ." "f .";
  justify-items: end; }

.form-container {
  grid-area: f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.form-card {
  width: 600px;
  height: 400px;
  padding: 2.5em;
  background: white;
  -webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .form-card::before {
    content: '';
    position: absolute;
    width: 800px;
    height: 600px;
    background: rgba(0, 0, 0, 0.4);
    top: -12.5%;
    left: -8.3%;
    z-index: -2; }
  .form-card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }

.main-title {
  font-family: 'Galada', cursive;
  font-size: 4em;
  text-align: center;
  position: relative; }
  .main-title::before {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    border: solid black 2px;
    left: 48%;
    top: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .main-title::after {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    border: solid black 2px;
    right: 48%;
    top: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

@media only screen and (max-width: 682px) {
  .menu-container {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    -webkit-box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.25); }
  .main-container {
    width: 100%;
    min-height: 100vh;
    background: url("/assets/images/add-form.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow-x: auto; }
  .form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: "."  "f" "f" "f";
    justify-items: end; }
  .form-container {
    grid-area: f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .form-card {
    width: 600px;
    height: 400px;
    padding: 2.5em;
    background: white;
    -webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .form-card::before {
      content: '';
      position: absolute;
      width: 800px;
      height: 600px;
      background: rgba(0, 0, 0, 0.4);
      top: -12.5%;
      left: -8.3%;
      z-index: -2; }
    .form-card::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: white;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1; }
  .main-title {
    font-family: 'Galada', cursive;
    font-size: 4em;
    text-align: center;
    position: relative; }
    .main-title::before {
      content: '';
      position: absolute;
      height: 1em;
      width: 1em;
      border: solid black 2px;
      left: 48%;
      top: 100%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .main-title::after {
      content: '';
      position: absolute;
      height: 1em;
      width: 1em;
      border: solid black 2px;
      right: 48%;
      top: 100%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); } }
