<div class="menu-container">
  <app-menu [title]="pageTitle" (logOutClick)="logOff()" (addClick)="goToAddContact()" (contactsClick)="goToContacts()"></app-menu>
</div>
<div class="main-container">
  <div class="form-grid">
    <div class="form-container">
      <div class="form-card" *ngIf="form" [@fadeInOut]="showState">
        <div class="main-title">Edit Contact</div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div *ngFor="let question of questions">
            <app-edit-form-question [question]="question" [form]="form"></app-edit-form-question>
          </div>

          <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Save</button>
          <button mat-button type="submit" color="accent" (click)="onCancel()">Cancel</button>
        </form>

        <div class="error-message" *ngIf="addMessage">
          <strong>{{addMessage}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>